# The entire runtime lives inside dist/extension.js, so only that bundle,
# package.json, the readme, the licence and the icon are shipped. Everything a
# developer needs stays out of the package.
src/**
out/**
dist/*.map
tests/**
scripts/**
node_modules/**
.local/**
.vscode/**
.packaging/**
.workbuddy/**
.github/**
AGENTS.md
.gitignore
eslint.config.mjs
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml
*.tsbuildinfo
*.vsix
